*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* ----------Header/Menu----------- */
.header{
    background: url(images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu__logo-responsive{
    display: none;
}

.header__cont,
.discografia__cont,
.about__cont,
.tour__cont,
.footer__cont{
    width: 90%;
    max-width: 1280;
    margin: auto;
}

.menu__enlace{
    text-decoration: none;
    color: #fff;
}

.menu__enlace-boton,
.titular__enlace{
    color: #000;
    background-color: #dec800;
    padding: 20px 40px;
    line-height: 50px;
}

.menu__item{
    list-style: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.menu__logo-y-menu{
    display: flex;
    align-items: center;
}

.menu__listado{
    display: flex;
}

.menu__item{
    margin: 0 20px;
}
/* ----------Header/Titular----------- */
.header-cont__titular{
    margin-top: 5vh;
    color: #fff;
}

.titular__enlace{
    text-decoration: none;
    color: #000;
}

.titular__texto{
    font-size: 50px;
    margin-bottom: 30px;
    width: 60%;
}

.titular__texto--amarillo{
    color: #dec800;
    width: 80%;
}

/* los botones de esta seccion toman los estilos del btn del menu */
.titular__enlace--blanco{
    background-color: #fff;
}

/* ----------Discografia----------- */

.discografia{
    background-color: #000;
    color: #fff;
    padding: 60px 0;
}

.discografia__cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discografia__texto{
    width: 50%;
}

.discografia__imagen{
    width: 47%;
}

.discografia__titulo1{
    color: #dec800;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    border-radius: 20px ;
    margin-bottom: 20px;
    margin-top: 48px;
}

.discografia__titulo2--amarillo{
    color: #dec800;
    text-decoration: underline;
}

.discografia__titulo2{
    font-size: 50px;
    margin-bottom: 20px;
}

.discografia__parrafo{
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
}

.discografia__boton,
.texto-der__enlace{
    color: #000;
    background-color: #dec800;
    padding: 20px 40px;
    line-height: 50px;
    text-decoration: none;
}

.discografia__foto{
    width: 100%;
}

/* ----------About----------- */
.about{
    margin: 100px 0;
}
.about__cont-columnas{
    display: flex;
}

.texto-der__enlace--negro{
    color: #fff;
    background-color: #aaa;
}

.about__titulo{
    color: #000;
    border: 2px solid #dec800;
    display: inline-block;
    padding: 10px;
    border-radius: 20px ;
    margin-bottom: 20px;
}   

.texto-der__parrafo,
.texto-izq__parrafo,
.tour__parrafo{
    font-family: 'Barlow', sans-serif;
    margin: 20px 0;
}

.cont-columnas__texto-izq,
.cont-columnas__texto-der{
    padding: 0 20px;
}

/* ----------Tour----------- */

.tour{
    background-color: #dec800 ;
    padding: 60px 0;
}

.tour__imagen-y-texto{
    display: flex;
    justify-content: space-around;
}

.tour__imagen{
    width: 40%;
    position: relative;
    top: -110px;
}

.tour__foto{
    width: 100%;
}

.tour__texto{
    width: 40%;
}

.tour__titulo{
    color: #000;
    border: 2px solid #aaa;
    display: inline-block;
    padding: 10px;
    border-radius: 20px ;
    margin-bottom: 20px;
}

.tour__fecha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px solid #88888857;
}

.fecha__numero{
    font-size: 34px;
}

.fecha__mes,
.fecha__nombre{
    font-size: 20px;
    font-weight: bold;
}

.fecha__anio,
.fecha__ciudad{
    font-family: 'Barlow', sans-serif;
}

.fecha__enlace{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 15px 30px;
}

.tour__parrafo{
    width: 70%;
}


/* ----------Footer----------- */

.footer{
    padding: 60px 0;
}

.footer__cont{
    text-align: center;
}

.footer__redes{
    margin-bottom: 10px;
}

.footer__telefono{
    display: inline-block;
}

.footer__texto{
    font-family: 'Barlow', sans-serif;
    margin-top: 10px; 
    font-size: 13px;
}

/* --------Responsive---------- */

/* @media (min-width: 891){
    .menu__logo-responsive{
        display: none;
    }
} */

@media (max-width: 890px){
    .menu{
        flex-direction: column;
    }

    .menu__logo-y-menu{
        justify-content: space-between;
    }

    .menu__listado {
        flex-direction: column;
    }

    .menu__navegador{
        background-color: #dec800;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
        display: none;
    }

    .menu__enlace{
        color: #000;        
    }

    .menu__item{
        margin-bottom: 10px;
    }

    .menu__boton{
        position: relative;
        top: 180px;
    }

    .menu__logo-responsive{
        display: block;
        width: 30px;
        color: #dec800;
    }

    .titular__texto{
        font-size: 32px;
    }

    .titular__enlace{
        padding: 10px 15px;
    }

    .menu__enlace-boton{
        display: none;
    }

    .header-cont__titular{
        margin-top: 19vh;
    }

    .discografia{
        padding-top: 0;
    }

    .discografia__titulo2{
        font-size: 27px;
    }

    .discografia__cont{
        flex-direction: column;
    }

    .discografia__texto{
        width: 100%;
    }

    .discografia__imagen{
        margin-top: 20px;
        width: 82%;
    }

    .about{
        margin: 70px 0;
    }

    .about__cont-columnas{
        flex-direction: column;
    }

    .texto-der__enlace{
        padding: 10px 15px;
        font-size: 15px;
    }

    .tour__imagen-y-texto{
        flex-direction: column;
    }
    .tour__imagen{
        width: 65%;
        position: relative;
        top: -27px;
    }

    .tour__texto{
        width: 100%;
    }

    .tour__parrafo{
        width: 100%;
    }

    .tour__fechas{
        flex-direction: column;        
    }

    .tour__fecha{
        flex-direction: column;
        margin: 0;
    }

    .fecha__fecha,
    .fecha__lugar{
        text-align: center;
    }

    .fecha__boton{
        margin-top: 25px;
    }
}

@media (max-width: 480px){
    .titular__texto{
        font-size: 25px;
    }

    .titular__enlace{
        display: inline-block;
        margin: 10px 0;
        padding: 0 10px;
    }

    .discografia__titulo2 {
        font-size: 20px;
    }
}
